@model CpaTicker.Areas.admin.Models.ConversionPixelCampaignsViewModel

@{
    ViewBag.Title = "AddCampaign";
    ViewBag.hash = Url.Action("campaigns", new { id = ViewContext.RouteData.Values["id"] });
}

<div class="row tspark">
	@Html.Partial("_Sparks")
</div>

<section id="widget-grid">

    <div class="row">

        <div class="table-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-content">
                <div class="table-title">Conversion Pixel Add Campaign</div>

                <!-- NEW COL START -->
                <article>

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <!-- widget div-->
                        <div>

                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                @using (Html.BeginForm("addcampaign", "conversionpixel", FormMethod.Post, new { @id = "addcampaign", @class = "smart-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    <footer>
                                        <nav>
                                            <button class="btn btn-primary" type="submit" id="submit_button"><i class="fa fa-check"></i> Add Campaigns </button>
                                            @Html.ActionLink("Back", "campaigns", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-default", @id = "back_button" })
                                        </nav>
                                    </footer>

                                    <div class="fieldset">


                                        <div class="row">
                                            <section class="col col-6">
                                                <label class="label">Campaigns</label>
                                                <label class="select">
                                                    @Html.DropDownListFor(model => model.Campaigns, new SelectList(ViewBag.Campaigns, "Value", "Text"), new { @multiple = "multiple", @class = "select2" })
                                                </label>
                                                @Html.ValidationMessageFor(model => model.Campaigns)
                                                <div class="note">
                                                    <strong>Note:</strong>
                                                    By default this pixel will be related to the default action of each of the campaigns here
                                                </div>
                                            </section>

                                            <section class="col col-6">
                                                @Html.LabelFor(model => model.PixelStatus, new { @class = "label" })
                                                <label class="select">
                                                    @Html.EnumDropDownListFor(model => model.PixelStatus @*, new { @disabled = "disabled" }*@)
                                                    <i></i>
                                                </label>
                                                <div class="note">
                                                    <strong>Note:</strong>
                                                    The inicial status of the added campaign will be by default pending
                                                </div>
                                            </section>
                                        </div>

                                    </div>
                                }

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->



                </article>
                <!-- END COL -->

            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();
        
    // PAGE RELATED SCRIPTS
    updateBreadCrumb('Conversion Pixels/Add Campaigns');

    $('#submit_button').click(function (e) {
        e.preventDefault();
        var f = this.form;
        container = $('#content');
        $.validator.unobtrusive.parse($(f)); // this may be placed better! OJO
        if ($(f).valid()) {
            pajaxSubmit(f, container, '@ViewBag.hash');
        }
        return false; // keeps the page from not refreshing 
    });
</script>
