@model CpaTicker.Areas.admin.Models.ConversionPixelViewModel

@{
    ViewBag.Title = "Create";
    ViewBag.hash = Url.Action("Index");
}

<style type="text/css">

   #OfferUrl {
       resize : vertical;
   }
</style>

<div class="row tspark">
	@Html.Partial("_Sparks")
</div>

<section id="widget-grid">


    <div class="row">

        <div class="table-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-content">
                <div class="table-title">Create Conversion Pixel</div>

                <!-- NEW COL START -->
                <article>

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-deletebutton="false">

                        <!-- widget div-->
                        <div>

                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                @using (Html.BeginForm("create", "conversionpixel", FormMethod.Post, new { @id = "createpixel", @class = "smart-form" }))
                                {
                                    @*@Html.AntiForgeryToken()*@
                                    @Html.ValidationSummary(true)

                                    <footer>
                                        <nav>
                                            <button class="btn btn-primary" type="submit" id="submit_button"><i class="fa fa-check"></i> Create Pixel </button>
                                            @Html.ActionLink("Back", "index", null, new { @class = "btn btn-default", @id = "back_button" })
                                        </nav>
                                    </footer>

                                    <div class="fieldset">

                                        @if (ViewBag.IsAdmin)
                                        {
                                            <div class="row">

                                                @* Tracking Type *@
                                                <section class="col col-6">
                                                    @Html.LabelFor(model => model.TrackingType, new { @class = "label" })
                                                    <label class="select">
                                                        @Html.EnumDropDownListFor(model => model.TrackingType)
                                                        <i></i>
                                                    </label>
                                                    <div class="note">
                                                        <strong>Note:</strong>
                                                        Change to target matching campaigns
                                                    </div>
                                                </section>

                                                <section class="col col-6">
                                                    <label class="label">Affiliate</label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.AffiliateId, new SelectList(ViewBag.Affiliates, "Value", "Text"), new { @class = "select2" })
                                                        @*Html.DropDownList("Affiliates", "")*@
                                                        @*<i></i>*@
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.AffiliateId)
                                                </section>

                                            </div>
                                            <div class="row">

                                                @* Campaigns DropDownList *@
                                                <section class="col col-6">
                                                    <label class="label">Campaigns</label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.Campaigns, new SelectList(ViewBag.Campaigns, "Value", "Text"), new { @multiple = "multiple", @class = "select2" })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Campaigns)
                                                    <div class="note">
                                                        <strong>Note:</strong>
                                                        By default this pixel will be related to the default action of each of the campaigns here
                                                    </div>
                                                </section>

                                                @* PixelStatus *@
                                                <section class="col col-6">
                                                    @Html.LabelFor(model => model.PixelStatus, new { @class = "label" })
                                                    <label class="select">
                                                        @Html.HiddenFor(model => model.PixelStatus)
                                                        @Html.EnumDropDownListFor(model => model.PixelStatus)
                                                        <i></i>
                                                    </label>
                                                    <div class="note">
                                                        <strong>Note:</strong>
                                                        By default the status is pending
                                                    </div>
                                                </section>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label class="label">Campaigns</label>
                                                    <label class="select">
                                                        @Html.DropDownListFor(model => model.Campaigns, new SelectList(ViewBag.Campaigns, "Value", "Text"), new { @multiple = "multiple", @class = "select2" })
                                                    </label>
                                                    @Html.ValidationMessageFor(model => model.Campaigns)
                                                </section>

                                                @Html.HiddenFor(model => model.AffiliateId, new { Value = ViewBag.AffiliateId })

                                                <section class="col col-4">
                                                    @Html.LabelFor(model => model.TrackingType, new { @class = "label" })
                                                    <label class="select">
                                                        @Html.EnumDropDownListFor(model => model.TrackingType)
                                                        <i></i>
                                                    </label>
                                                </section>

                                                @* PixelStatus *@
                                                <section class="col col-4">
                                                    @Html.LabelFor(model => model.PixelStatus, new { @class = "label" })
                                                    <label class="select state-disabled">
                                                        @Html.EnumDropDownListFor(model => model.PixelStatus, new { @disabled = "disabled" })
                                                        <i></i>
                                                    </label>
                                                    <div class="note">
                                                        <strong>Note:</strong>
                                                        By default the status is pending
                                                    </div>
                                                </section>
                                            </div>
                                        }

                                        <section>
                                            @Html.LabelFor(model => model.PixelCode, new { @class = "label" })
                                            <label class="textarea">
                                                <i class="icon-append fa fa-comment"></i>
                                                @Html.TextAreaFor(model => model.PixelCode, new { @placeholder = "Pixel Code is required...", @id = "OfferUrl" })
                                            </label>
                                            @Html.ValidationMessageFor(model => model.PixelCode)
                                            <div class="note" style="text-align:right;">
                                                <small><a href="#" id="var_info">Optional Variables</a></small>
                                            </div>
                                        </section>

                                        @Html.Partial("_PlaceHolderInfo")

                                    </div>
                                }

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->



                </article>
                <!-- END COL -->

            </div>
        </div>

    </div>

</section>



<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();
        
    // PAGE RELATED SCRIPTS
    updateBreadCrumb('Conversion Pixels/Create');

    loadScript('@Url.Content("~/Scripts/Custom/customval.js")');

    $('#submit_button').click(function (e) {
        e.preventDefault();
        var f = this.form;
        container = $('#content');
        $.validator.unobtrusive.parse($(f)); // this may be placed better! OJO
        if ($(f).valid()) {
            pajaxSubmit(f, container, '@ViewBag.hash');
        }
        return false; // keeps the page from not refreshing 
    });

    $("#OfferUrl").attr('rows', '8');

    $("#TrackingType").change(function () {
        
        // changes the campaign ddl

        $.getJSON('@Url.Action("getcampaignsbytrackingtype", "helper")/' + $(this).val(), function (data) {

            cplist = $("#Campaigns");
            cplist.empty();
            cplist.select2("val", "");

            $.each(data, function (i, obj) {
                cplist.append($("<option />").val(obj.Value).text(obj.Text));
            });

        });

    });


</script>
