@model IEnumerable<CpaTicker.Areas.admin.Classes.URL>

@{
    ViewBag.Title = "URLs";
    Layout = null;
}

<div class="row tspark">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-globe fa-fw"></i>
            @Html.ActionLink("Campaign", "index", "campaign")
            <span>
                >
                @ViewBag.Title
            </span>
        </h1>
    </div>
    @Html.Partial("_Sparks")
</div>

<section id="widget-grid" class="">
    <div class="row">
       <!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false">
				
				<header>
					<span class="widget-icon"> <i class="fa fa-globe"></i> </span>
					<h2>Campaign <strong>@ViewBag.Campaign.CampaignId</strong> URLs</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
                        
                        @*<div class="widget-body-toolbar">

                            <nav style="margin-left:190px;padding:1px 0px;float:right;">
                                <a href="@Url.Action("index", "campaign")" class="btn btn-default">Back</a>
                                <a href="@Url.Action("create", new { id = ViewBag.Campaign.Id })" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                    Add URL
                                </a>
                            </nav>
                            <div style="clear: right;"></div>

                        </div>*@

                        

						<table class="table table-hover" id="dt_basic">
							<thead>
								<tr>
                                    <th data-class="expand">@Html.DisplayNameFor(model => model.Id)</th>
                                    <th data-class="expand">@Html.DisplayNameFor(model => model.Name)</th>
									<th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.OfferUrl)</th>
                                    <th>@Html.DisplayNameFor(model => model.PayoutType)</th>
                                    <th>@Html.DisplayNameFor(model => model.RevenueType)</th>
                                    <th data-hide="phone,tablet">@Html.DisplayNameFor(model => model.ParentURLId)</th>
                                    <th data-hide="phone,tablet"></th>
								</tr>
							</thead>
							<tbody>
								    @foreach (var item in Model) 
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.PreviewId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.OfferUrl)</td>
                                            <td>@item.PayoutType.DisplayValue()</td>
                                            <td>@item.RevenueType.DisplayValue()</td>
                                            <td>
                                                
                                                @if (item.ParentURLId.HasValue)
                                                {
                                                   @( item.ParentUrl.CampaignId == item.CampaignId ? item.ParentUrl.PreviewId.ToString() : 
                                                    
                                                   string.Format("{0} - {1}", item.ParentUrl.Campaign.CampaignId, item.ParentUrl.PreviewId)
                                                   
                                                   )
                                                }
                                            </td>
                                            <td>
                                                
                                                @Html.ActionLink("Edit", "edit", new { id = item.Id }, new { @class="doajax"}) | 
                                                <a href="@item.PreviewUrl" target="_blank">Preview</a> | 

                                                <nav style="display:inline;">
                                                    @Html.ActionLink("Redirects", "index", "redirect", new { id = item.Id }, null) |
                                                    @Html.ActionLink("Generate Link", "details", "campaign", new { id = item.Campaign.CampaignId, id2 = item.Id }, null) 
                                                </nav>

                                                @if (@item.PreviewId != 1)
                                                {
                                                    @:|
                                                    @Html.ActionLink("Delete", "deleteurl", "helper", new { id = item.Id }, new { @class = "rlink"})  
                                                }

                                            </td>
                                        </tr>
                                    }
							</tbody>
						</table>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->
    </div>
</section>




<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

    // PAGE RELATED SCRIPTS
	updateBreadCrumb('Campaign @ViewBag.Campaign.CampaignId URLs');

    loadDataTables();


    function runDataTables() {

        var responsiveHelper_dt_basic = undefined;

        $('#dt_basic').dataTable({

            "bInfo": false, // disable info
            "bPaginate": false, // disable pagination
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [6] },
                { "bSearchable": false, "aTargets": [6] }
            ]
            , "sDom": "<'dt-toolbar'<'col-xs-10 col-sm-6 col-md-4 col-lg-4 npadding-right'f><'col-xs-2 col-sm-6 col-md-8 col-lg-8 npadding-left'<'toolbar'>>r>" +
					"t"
                    //+
            //"<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>"
            //,"autoWidth" : true
			//, "preDrawCallback": function () {
			//    // Initialize the responsive datatables helper once.
            //    if (!responsiveHelper_dt_basic) {
            //        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#dt_basic'), breakpointDefinition);
            //    }
			//}
            //, "rowCallback" : function(nRow) {
            //    responsiveHelper_dt_basic.createExpandIcon(nRow);
            //}
            //, "drawCallback": function (oSettings) {
            //    responsiveHelper_dt_basic.respond();
            //}


        });

        // custom toolbar
        $("div.toolbar").html('<div><nav class="pull-right"><a href="@Url.Action("index", "campaign")" class="btn btn-default atext"> Back</a> <a href="@Url.Action("create", new { id = ViewBag.Campaign.Id })" class="btn btn-primary"><i class="fa fa-plus"></i><span class="atext"> Add URL</span></a></nav></div>');
    }

    $('.rlink').click(function (e) {
        e.preventDefault();
        
        //doAjax = 0;
        url = $(this).attr('href');
        container = $('#content');
        loadURL(url, container);
        //console.log("here");
        @*doAjax = 0;
        window.location.hash = '@Url.Action("index", new {id = ViewBag.Campaign.Id})';*@
	    
    });

</script>
