@model CpaTicker.Models.RequestDemo

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ClickTicker&trade;</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/media.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/css/common.css">
    <script src="~/js/jquery-1.11.0.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">

</head>


<body>


    @*<div class="cont_topsec">
            <div class="container-fluid">

                <div class="col-md-6 col-sm-4 col-xs-12 contlft" style="background:#eeeeee;">
                    <p class="cont_tophding phone">Phone</p>
                    <p class="conttoptxt">888-683-4872</p>
                </div>
                <div class="col-md-6 col-sm-4 col-xs-12 contmid" style="background:#e9e8e8;">
                    <p class="cont_tophding mail">Email</p>
                    <p class="conttoptxt">
                        sales@clickticker.com<br>
                        support@clickticker.com
                    </p>
                </div>


            </div>
        </div>*@

    <div class="abtsec1">
        <div class="container formsec">
            <div class="row req-logo">


                <a class="logo" href="@Url.Action("index","Home")"><img src="~/images/clicktickerlogo2.png" alt="Logo" class="" /></a>


            </div>
            <div class="col-md-12">
                <div class="col-md-8 left-side-req">

                    <div class="landing__offer-col medium-6 column">

                        <video style="height: 100%; width: 100%;border: 3px solid #000000;" poster="~/Images/click-ticker.png" controls>
                            <source src="~/Content/Videos/CTICKERSampler5-SD.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                        <br />
                        <h4 class="landing__resource__title customfreelbl">45 DAY FREE TRIAL</h4>
                        <br />
                        <p> ClickTicker.com is your ticket to raising your online marketing game. Let your competitors “pull” reports and “refresh” stats, while you enjoy real-time streaming updates from the device of your choosing. Quantify Internet traffic with ClickTicker, and enjoy thepatented transparency that comes from customized ad tracking.</p>
                        <p> Don’t settle for false promises of real-time data. Most services only offer a few useless analytics in real-time just so that they can make the claim. If you want something usable, you have to wait for the critical KPIs to refresh so that you can pull a report. ClickTicker lives up to the promise of real-time data. Leave “pulling”, “refreshing” and delayed data to other advertisers. Hold your ad-tracking to a higher standard and demand up to the second statistics. Stream your critical campaign data in real-time with ClickTicker!</p>
                        <p> ClickTicker is the cutting edge solution to real-time data management. With this kind of precision and transparency, even the dimmest Neckbeard can optimize their ad buys. Imagine what it will do for you. ClickTicker – making the weak, strong and the strong, strongest.</p>
                        <p> Take control of your ad spending today, because the bottom line is what lines your pockets.</p>

                    </div>







                </div>
                <div class="col-md-4 right-side-req">
                    @if (string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <form method="POST">

                            <p class="conthding">Request a Demo - Start Your Free Trial Today</p>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @*  <input type="text" class="form-control inputshort" id="email" placeholder="Email">*@
                                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control inputshort" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @*<input type="text" class="form-control inputshort" id="name" placeholder="Name">*@
                                        @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "FirstName", @class = "form-control inputshort" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @*  <input type="text" class="form-control inputshort" id="email" placeholder="Email">*@
                                        @Html.TextBoxFor(model => model.LastName, new { @placeholder = "LastName", @class = "form-control inputshort" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Phone", @class = "form-control inputlong" })
                                        @Html.ValidationMessageFor(model => model.Phone)
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 col-sm-12">

                                    <div class="form-group req-demo-btn">
                                        <button type="submit" class="requestdemosub"> REQUEST DEMO </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <p class="conthding">@ViewBag.Message</p>
                    }

                </div>
            </div>


        </div>
    </div>


    <div class="btm_sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="btm_box">
                        <div class="btm_hdg">about us</div>
                        <div class="btm_cont"> ClickTicker is the cutting-edge solution developed by marketers, for marketers. Our experienced management team is dedicated to helping optimize your marketing initiatives.   </div>
                        <div class="social_icon"> <a href="#"><img src="~/images/sl1.png" alt=""></a> <a href="#"><img src="~/images/sl2.png" alt=""></a> <a href="#"><img src="~/images/sl3.png" alt=""></a> <a href="#"><img src="~/images/sl4.png" alt=""></a> <a href="#"><img src="~/images/sl5.png" alt=""></a> </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="btm_box">
                        <div class="btm_hdg">get in touch</div>
                        <div class="btm_cont">
                            <ul class="contactdetail">
                                <li class="mail">sales@clickticker.com</li>
                                <li class="support">support@clickticker.com</li>
                                <li class="phone"><span style="color:#fff;">888-683-4872</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="btm_box">
                        <div class="newsletter">newsletter</div>
                        <div class="btm_cont">
                            Recieve news & updates about
                            ClickTicker™.<br>
                            <div class="news_letter">
                                <form>
                                    <input type="text" value="" id="email" name="email" class="txtfld" placeholder="Your email">
                                    <input type="submit"
                                           class="submit" value="SUBSCRIBE">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>© @DateTime.UtcNow.Year ClickTicker™ US Patent US 8,244,584 B1</footer>
    <script>
        $('.carousel').carousel({
            interval: 2000 //TIME IN MILLI SECONDS
        })
    </script>
    <a title="Web Analytics" href="http://clicky.com/100857864"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try { clicky.init(100857864); } catch (e) { }</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100857864ns.gif" /></p></noscript>
</body>
</html>
