@model IEnumerable<CpaTicker.Areas.admin.Classes.Action>

@{
    ViewBag.Title = "Actions";
}

<div class="row tspark">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-bar-chart-o fa-fw"></i>
            @Html.ActionLink("Campaign", "index", "campaign")
            <span>
                >
                @ViewBag.Title
            </span>
        </h1>
    </div>
    @Html.Partial("_Sparks")
</div>

<section id="widget-grid" class="">
    <div class="row">
       <!-- NEW WIDGET START -->
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false">
				
				<header>
					<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
					<h2>Campaign <strong>@ViewBag.Campaign.CampaignId</strong> Actions</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
                        
                        @*<div class="widget-body-toolbar">

                            <nav style="margin-left:190px;padding:1px 0px;float:right;">
                                <a href="@Url.Action("index", "campaign")" class="btn btn-default">Back</a>
                                <a href="@Url.Action("create", new { id = ViewBag.Campaign.Id })" class="btn btn-primary">
                                    <i class="fa fa-plus"></i>
                                    Add Action
                                </a>
                            </nav>
                            <div style="clear: right;"></div>

                        </div>*@

                        

						<table class="table table-hover" id="dt_basic">
							<thead>
								<tr>
                                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                                    <th>@Html.DisplayNameFor(model => model.Name)</th>
									@*<th>@Html.DisplayNameFor(model => model.TrackingType)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.Type)</th>
                                    <th></th>
								</tr>
							</thead>
							<tbody>
								    @foreach (var item in Model) 
                                    {
                                        //var payouttype = EnumHelper<CpaTicker.Areas.admin.Classes.RevenueType>(item.RevenueType);
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                            @*<td>@item.TrackingType.DisplayValue()</td>*@
                                            <td>@item.Type.DisplayValue()</td>
                                            <td>
                                                <nav>
                                                    @Html.ActionLink("Edit", "edit", new { id = item.Id }) | 
                                                    @Html.ActionLink("Pixels", "pixels", new { id = item.Id }) | 
                                                    @Html.ActionLink("Tracking", "tracking", new { id = item.Id }) |
                                                    @Html.ActionLink("Affiliate Payouts", "overridepayout", new { id = item.Id })
                                                </nav>
                                            </td>
                                        </tr>
                                    }
							</tbody>
						</table>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- WIDGET END -->
    </div>
</section>

<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

    // PAGE RELATED SCRIPTS
	updateBreadCrumb('Campaign @ViewBag.Campaign.CampaignId Actions');

    loadScript("@Url.Content("~/Content/js/plugin/DataTableReorder/jquery.dataTables.min.js")", function () {
        loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.colVis.min.js")", function () {
            loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.tableTools.min.js")", function () {
	            loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.bootstrap.min.js")", runDataTables);
	        });
	    });
    });

    function runDataTables() {
        $('#dt_basic').dataTable({

            "bInfo": false, // disable info
            "bPaginate": false, // disable pagination
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [3] },
                { "bSearchable": false, "aTargets": [3] }
            ]
            , "sDom": "<'dt-toolbar'<'col-xs-6'f><'col-xs-6'<'toolbar'>>r>" +
					"t"
                    //+
					//"<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>"
        });

        // custom toolbar
        $("div.toolbar").html('<div class="text-right"><nav><a href="@Url.Action("index", "campaign")" class="btn btn-default">Back</a><a href="@Url.Action("create", new { id = ViewBag.Campaign.Id })" class="btn btn-primary"><i class="fa fa-plus"></i> Add Action</a></nav></div>');
    }

</script>