@{
    ViewBag.Title = "Adjust Stats";
    Layout = null;
}

<div class="row tspark">
	@Html.Partial("_Sparks")
</div>

<section id="widget-grid">

    <div class="row">

        <div class="table-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-content">
                <div class="table-title">Adjust Stats</div>

                <!-- NEW WIDGET START -->
                <article>
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-togglebutton="false">

                        <!-- widget div-->
                        <div>

                            <!-- widget content -->
                            <div class="widget-body no-padding">


                                <div class="smart-form">

                                    <footer>
                                        <nav>
                                            <button class="btn btn-primary" type="button" id="submit_button"><i class="fa fa-check"></i> Adjust </button>
                                            @*@Html.ActionLink("Back", "index", null, new { @class = "btn btn-default", @id = "back_button" })*@
                                        </nav>
                                    </footer>

                                    <div class="fieldset">

                                        <div class="row">

                                            <section class="col col-2">
                                                <label class="label">Date</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    @Html.TextBox("adjustdate", DateTime.Today.ToString("MM/dd/yyyy"), new { @readonly = "true", @class = "datepicker" })
                                                    <i></i>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">Type</label>
                                                <label class="select">
                                                    <select id="droptype" name="droptype">
                                                        <option value="1">click</option>
                                                        <option value="2">conversions</option>
                                                        <option value="3">impressions</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label">Campaign</label>
                                                <label class="select">
                                                    @Html.DropDownList("CampaignId")
                                                    <i></i>
                                                </label>
                                            </section>

                                            <section class="col col-4">
                                                <label class="label">Affiliate</label>
                                                <label class="select">
                                                    @Html.DropDownList("AffiliateId")
                                                    <i></i>
                                                </label>
                                            </section>

                                        </div>
                                        <div class="row">

                                            <div id="bannerdiv">
                                                <section class="col col-4">
                                                    <label class="label">Banner</label>
                                                    <label class="select">
                                                        @Html.DropDownList("BannerId")
                                                        <i></i>
                                                    </label>
                                                </section>
                                            </div>

                                            <section class="col col-4">
                                                <label class="label">Action</label>
                                                <label class="select">
                                                    <select id="Action" name="Action">
                                                        <option value="0">add</option>
                                                        <option value="1">remove</option>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">URL</label>
                                                <label class="select">
                                                    @Html.DropDownList("URLs")
                                                    <i></i>
                                                </label>
                                            </section>

                                            <section class="col col-2">
                                                <label class="label">Quantity</label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-adjust"></i>
                                                    @Html.TextBox("Quantity")
                                                    <i></i>
                                                </label>
                                            </section>

                                        </div>

                                    </div>



                                </div>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->

            </div>
        </div>
    </div>

</section>


<script type="text/javascript">
    
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();

    // PAGE RELATED SCRIPTS
    updateBreadCrumb('Affiliate/Adjust Stats');

        $('#droptype').change(function () {
            if ($('#droptype').val() == 2)
                $('#bannerdiv').fadeOut(1);
            else
                $('#bannerdiv').fadeIn(500);
        });

        $('#CampaignId').on('change', function () {

            $this = $(this);
            $.getJSON('@Url.Action("getcampaignbanners", "helper")/' + $this.val(), function (data) {
                bannerlist = $("#BannerId");
                bannerlist.empty();

                $.each(data, function (i) {
                    bannerlist.append($("<option />").val(data[i]).text(data[i]));
                });
            });

            $.getJSON('@Url.Action("getcampaignurls", "helper")/' + $this.val(), function (data) {
                urllist = $("#URLs");
                urllist.empty();

                $.each(data, function (i) {
                    urllist.append($("<option />").val(data[i]).text(data[i]));
                });
            });
        });

    

        $('#submit_button').click(function (e) {
            e.preventDefault();

            if ($('#Quantity').val() == '') {
                alert('Quantity must be a number');
                return;
            }
            doAjax = 0;
            container = $('#content');
            var url = '@Url.Action("adjuststats")?date=' + $('#adjustdate').val() +
                '&type=' + $('#droptype').val() +
                '&campaignid=' + $('#CampaignId').val() +
                '&urlid=' + $('#URLs').val() +
                '&affiliateid=' + $('#AffiliateId').val() +
                '&bannerid=' + $('#BannerId').val() +
                '&mode=' + $('#Action').val() +
                '&qty=' + $('#Quantity').val();

            loadURL(url, container);
            window.location.hash = url;
        });

</script>
