@model IEnumerable<CpaTicker.Areas.admin.Classes.Affiliate>

    @{
        ViewBag.Title = "Affiliates";
        Layout = null;
        bool IsAdmin = Roles.IsUserInRole("Administrator");
        var useraffiliates = (IEnumerable<CpaTicker.Areas.admin.Classes.Affiliate>)ViewBag.Useraffiliates;
    }

    <div class="row tspark">
        @Html.Partial("_Sparks")
    </div>

    <section id="widget-grid">

        <div class="row">
            <div class="table-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-content">
                    <div class="table-title">Affiliates</div>

                    <!-- NEW WIDGET START -->
                    <article>

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">

                            <div class="dataTables_overlay"></div>


                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="widget-body-toolbar">


                                        <div class="row">
                                            <div class="col-xs-9 col-sm-6 col-md-4 col-lg-4 smart-form npadding-right">
                                                <label class="select">
                                                    @Html.DropDownList("filter", ((CpaTicker.Areas.admin.Classes.AffiliateFilter)ViewBag.filter).ToSelectList())
                                                    <i></i>
                                                </label>
                                            </div>
                                            @*<div class="widget-body-toolbar">

                                            <nav style="margin-left:190px;padding:1px 0px;float:right;">
                                                <a href="@Url.Action("create")" class="btn btn-primary">
                                                    <i class="fa fa-plus"></i> Add Affiliate
                                                </a>
                                            </nav>
                                            <div style="clear: right;"></div>

                                        </div>*@
                                        </div>

                                    </div>
                                    <table class="table table-hover" id="dt_basic">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Company)
                                                </th>
                                                <th>Affiliate Id</th>
                                                <th>Address</th>
                                                <th>City</th>
                                                <th>State</th>
                                                <th>Contact</th>
                                                <th style="text-align:center;">Status</th>
                                                <th style="text-align:center;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                    {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Company)
                                                    </td>
                                                    <td>
                                                        @item.AffiliateId
                                                    </td>
                                                    <td>
                                                        @item.Address1 @item.Address2
                                                    </td>
                                                    <td>
                                                        @item.City
                                                    </td>
                                                    <td>
                                                        @item.State
                                                    </td>
                                                    <td>
                                                        @item.Phone
                                                    </td>
                                                    <td style="text-align:center;">

                                                        @if ((CpaTicker.Areas.admin.Classes.AffiliateFilter)ViewBag.filter == CpaTicker.Areas.admin.Classes.AffiliateFilter.all
&&
!useraffiliates.Any(c => c.Id == item.Id))
                                                {
                                                    // this is when the campaign is hidden for this user
                                                    <div class="camp-status blocked">
                                                        Blocked
                                                    </div>

                                                }
                                                else
                                                {
                                                            <div class="camp-status @item.Status.ToString().ToLower()">
                                                                @item.Status
                                                            </div>
                                                }
                                                    </td>
                                                    <td style="text-align:center;">
                                                        <nav>
                                                            @if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions, ViewBag.user.AffiliateId != null, "ViewPermissiond", "editAffiliate"))
                                                    {
                                                                @Html.ActionLink("Edit", "edit", new { id = item.AffiliateId }) @:|
                                                }

                                                            @if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions, ViewBag.user.AffiliateId != null, "ViewPermissiond", "detailsAffiliate"))
                                                    {
                                                                @Html.ActionLink("Conversion Pixels", "details", new { id = item.AffiliateId })
                                                    }


                                                            @if (IsAdmin)
                                                    {
                                                        if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions, ViewBag.user.AffiliateId != null, "ViewPermissiond", "usersAffiliate"))
                                                        {

                                                                    @:|
                                                                    @Html.ActionLink("Users", "users", new { id = item.AffiliateId })
                                                        }
                                                    }
                                                            @if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions1, ViewBag.user.AffiliateId != null, "ViewPermission", "overridepayoutAffiliate"))
                                                    {
                                                                @:|

                                                                @Html.ActionLink("Affiliate Override", "OverridePayout", new { id = item.AffiliateId })
                                                    }
                                                        </nav>
                                                    </td>
                                                </tr>
                                    }
                                        </tbody>
                                    </table>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>
                    <!-- WIDGET END -->

                </div>
            </div>
        </div>

    </section>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();

        // PAGE RELATED SCRIPTS
        updateBreadCrumb('Affiliates');

        $("#filter").change(function () {

            // refresh the content with the filter campaigns
            //$('#content').load('@Url.Action("index", "affiliate")?filter=' + this.value);
            $('.dataTables_overlay').show();
            var cpurl = '@Url.Action("index", "affiliate")?filter=' + this.value;
            $.ajax({
                type: "GET",
                url: cpurl,
                dataType: 'html',
                cache: false,
                success: function (data) {

                    //container.html(data);

                    if (checkReportUrl(cpurl)) {
                        $('#content').html(data);
                        $('.dataTables_overlay').hide();
                    }

                },
                async: true
            });

        });

        loadScript("@Url.Content("~/Content/js/plugin/DataTableReorder/jquery.dataTables.min.js")", function () {
            loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.colVis.min.js")", function () {
                loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.tableTools.min.js")", function () {
                    loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.bootstrap.min.js")", runDataTables);
                });
            });
        });

        function runDataTables() {
            $('#dt_basic').dataTable({

                "bInfo": false, // disable info
                "bPaginate": false, // disable pagination
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [7] },
                    { "bSearchable": false, "aTargets": [7] }
                ],
                "aaSorting": [[1, "asc"]]
                , "sDom": "<'dt-toolbar'<'col-xs-6'f><'col-xs-6'<'toolbar'>>r>" +
                        "t"
                //+
                //"<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>"
            });

            // custom toolbar
            @if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions, ViewBag.user.AffiliateId != null, "ViewPermissiond", "createAffiliate"))
        {
            <text>$("div.toolbar").html('<div class="text-right"><nav><a href="@Url.Action("create")" class="btn btn-primary"><i class="fa fa-plus"></i> Add Affiliate</a></nav></div>');</text>
        }

        else
        {

}

        }

    </script>
