@model IEnumerable<CpaTicker.Areas.admin.Classes.DispAffiliateOverride>

@{
    ViewBag.Title = "Affiliate Override";
}

<div class="row tspark">
    @Html.Partial("_Sparks")
</div>

<section id="widget-grid">

    <div class="row">

        <div class="table-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-content">
                <div class="table-title">Affiliate <strong>@ViewBag.AffiliateID</strong> Affiliate Override</div>

                <!-- NEW WIDGET START -->
                <article>

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false">

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                @*<div class="widget-body-toolbar">

                                        <nav style="margin-left:190px;padding:1px 0px;float:right;">
                                            <a href="@Url.Action("index", "campaign")" class="btn btn-default">Back</a>
                                            <a href="@Url.Action("create", new { id = ViewBag.Campaign.Id })" class="btn btn-primary">
                                                <i class="fa fa-plus"></i>
                                                Add Action
                                            </a>
                                        </nav>
                                        <div style="clear: right;"></div>

                                    </div>*@



                                <table class="table table-hover" id="dt_basic">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.OverrideID)</th>
                                            @*<th>@Html.DisplayNameFor(model => model.affiliate)</th>
                                                <th>@Html.DisplayNameFor(model => model.action)</th>
                                                <th>@Html.DisplayNameFor(model => model.campaign)</th>*@
                                            <th>@Html.DisplayNameFor(model => model.PayoutType)</th>
                                            <th>@Html.DisplayNameFor(model => model.Payout)</th>
                                            <th>@Html.DisplayNameFor(model => model.PayoutPercent)</th>
                                            <th>@Html.DisplayNameFor(model => model.RevenueType)</th>
                                            <th>@Html.DisplayNameFor(model => model.Revenue)</th>
                                            <th>@Html.DisplayNameFor(model => model.RevenuePercent)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            //var payouttype = EnumHelper<CpaTicker.Areas.admin.Classes.RevenueType>(item.RevenueType);
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.OverrideID)</td>
                                                @*<td>@Html.DisplayFor(modelItem => item.affiliate)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.action)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.campaign)</td>*@
                                                <td>@item.PayoutType.DisplayValue()</td>
                                                <td>@Html.DisplayFor(modelItem => item.Payout)</td>
                                                <td>@Html.DisplayFor(modelItem => item.PayoutPercent)</td>
                                                <td>@item.RevenueType.DisplayValue()</td>
                                                <td>@Html.DisplayFor(modelItem => item.Revenue)</td>
                                                <td>@Html.DisplayFor(modelItem => item.RevenuePercent)</td>
                                                <td>
                                                    <nav>
                                                        @if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions1, ViewBag.user.AffiliateId != null, "ViewPermission", "editoverridepayoutAffiliate"))
                                                        {
                                                            @Html.ActionLink("Edit", "EditOverridePayout", new { id = item.OverrideID })
                                                        }
                                                    </nav>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- WIDGET END -->
            </div>
        </div>

    </div>

</section>

<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    pageSetUp();

    // PAGE RELATED SCRIPTS
    updateBreadCrumb('Affiliate @ViewBag.AffiliateID/Affiliate Override');
    //updateBreadCrumb('OverridePayout');
    loadScript("@Url.Content("~/Content/js/plugin/DataTableReorder/jquery.dataTables.min.js")", function () {
        loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.colVis.min.js")", function () {
            loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.tableTools.min.js")", function () {
                loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.bootstrap.min.js")", runDataTables);
            });
        });
    });

    function runDataTables() {
        $('#dt_basic').dataTable({
            "order": [[0, "asc"]],
            "bInfo": false, // disable info
            "bPaginate": false, // disable pagination
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [5] },
                { "bSearchable": false, "aTargets": [5] }
            ]
            , "sDom": "<'dt-toolbar'<'col-xs-6'f><'col-xs-6'<'toolbar'>>r>" +
					"t"
            //+
            //"<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>"
        });

        @if (CpaTicker.Areas.admin.Classes.Helpers.Extensions.checkpermissions(ViewBag.user.Permissions1, ViewBag.user.AffiliateId != null, "ViewPermission", "createoverridepayoutAffiliate"))
        {
            <text> $("div.toolbar").html('<div class="text-right"><nav><a href="@Url.Action("index", "affiliate")" class="btn btn-default">Back</a><a href="@Url.Action("createoverridepayout", new { id = ViewBag.AffiliateID })" class="btn btn-primary"><i class="fa fa-plus"></i> Add Affiliate Override</a></nav></div>');</text>
        }

        else
        {
            <text> $("div.toolbar").html('<div class="text-right"><nav><a href="@Url.Action("index", "affiliate")" class="btn btn-default">Back</a></nav></div>');</text>
}
        // custom toolbar

    }

</script>