@model IEnumerable<CpaTicker.Areas.admin.Classes.UserProfile>

@{
    ViewBag.Title = "Users";
}

<div class="row tspark">
    @Html.Partial("_Sparks")
</div>

<section id="widget-grid">

    <div class="row">

        <div class="table-section col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-content">
                <div class="table-title">Affiliate <strong>@ViewContext.RouteData.Values["id"]</strong> Users</div>

                <!-- NEW WIDGET START -->
                <article>

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false">

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <table class="table table-hover" id="dt_basic">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>

                                                <td @*style=" text-align: center;"*@>
                                                    <nav style="display: inline;">
                                                        @Html.ActionLink("Edit", "edituser", "settings", new { id = item.UserId }, new { @class = "btn btn-info btn-xs" })
                                                        &nbsp;&nbsp;
                                                        @Html.ActionLink("Set Permissions", "SetPermissions", "settings", new { id = item.UserId }, new { @class = "btn btn-info btn-xs" })
                                                        &nbsp;&nbsp;
                                                        @Html.ActionLink("Reset Pwd", "resetpwd", "settings", new { id = item.UserId }, new { @class = "btn btn-primary btn-xs" })
                                                    </nav>
                                                    &nbsp;&nbsp;
                                                    @Html.ActionLink("Delete", "removeuser", "helper", new { id = item.UserId, id2 = ViewContext.RouteData.Values["id"] }, new { @class = "btn btn-danger btn-xs rlink" })

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- WIDGET END -->
            </div>
        </div>

    </div>

</section>

<script type="text/javascript">

	// DO NOT REMOVE : GLOBAL FUNCTIONS!
	pageSetUp();

    // PAGE RELATED SCRIPTS
	updateBreadCrumb('Tickers');

	$('.rlink').click(function (e) {
	    e.preventDefault();
	    //doAjax = 0;
	    url = $(this).attr('href');
	    container = $('#content');
	    loadURL(url, container);
	    //window.location.hash = '@Url.Action("users", new { id = ViewContext.RouteData.Values["id"] })';
	    //doAjax = 1;
	});

    loadScript("@Url.Content("~/Content/js/plugin/DataTableReorder/jquery.dataTables.min.js")", function () {
        loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.colVis.min.js")", function () {
	        loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.tableTools.min.js")", function () {
	            loadScript("@Url.Content("~/Content/js/plugin/datatables/dataTables.bootstrap.min.js")", runDataTables);
	        });
	    });
	});

    function runDataTables() {
        $('#dt_basic').dataTable({

            "bInfo": false, // disable info
            "bPaginate": false, // disable pagination
            "aoColumnDefs": [
                { 'bSortable': false, 'aTargets': [1] },
                { "bSearchable": false, "aTargets": [1] }
            ]
            , "sDom": "<'dt-toolbar'<'col-xs-6'f><'col-xs-6'<'toolbar'>>r>" +
					"t"
                    //+
					//"<'dt-toolbar-footer'<'col-xs-6'i><'col-xs-6'p>>"
        });

        // custom toolbar
        $("div.toolbar").html('<div class="text-right"><nav>@Html.ActionLink("Back", "index", "affiliate", null, new { @class = "btn btn-default" })<a href="@Url.Action("adduser", "affiliate", new { id = ViewContext.RouteData.Values["id"]})" class="btn btn-primary"><i class="fa fa-plus"></i> Add User</a></nav></div>');
    }

</script>
